<h1 class="animated fadeIn fast">Sobre ComicApp</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, animi quisquam. Dolor ad, alias provident modi ducimus, blanditiis perspiciatis laborum nihil ab soluta consectetur laboriosam illo sapiente. Fugit, adipisci corrupti! Lorem ipsum, dolor sit
    amet consectetur adipisicing elit. Esse, perferendis nostrum consequatur optio voluptatem enim aliquam iusto molestiae hic, minima, officiis quam deleniti eligendi dolorum voluptatum a! Excepturi, est. Molestiae.
</p>